#page-home{
    height: 100vh;
    /*imagem destaque do layout*/
    background: url('../../img/sticker.svg') no-repeat;
    background-position: 50vw bottom ;
       
}

#page-home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home .content{
    width: 90%;
    max-width: 1100px;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}
#page-home header a{
    margin-top: 48px;

    display: flex;

    color: var( --title-color);
    font-weight: 700;

    
}
#page-home header a span{
    margin-right: 16px;
    display: flex;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
}

#page-home main{
    max-width: 560px;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size: 54px;
    
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a{
    width: 100%;
    max-width: 300px;

    background-color: var(--primary-color);
    height: 62px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    margin-top: 40px;

    transition: 400ms;

    font-weight: bold;
    color: white;
}

#page-home main a:hover{

    background-color: #38b6ff;
    
}





#page-home main a strong{
    flex: 1;
    text-align: center;
}

#logo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    
}

#tilte{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    
}




nav span{
    margin-left: 50px;
}